#root {
    background-color: rgb(75, 199, 244);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Heading Styling */
.title {
  background-image: url("/images/images.jpeg");
  background-position: center center;
  padding: 40px;
  display: flex;
  flex-direction: row;
  justify-content: right;
}

.title h1 {
  margin-right: auto;
  color: rgb(75, 199, 244);
}
.page-title {
  margin: 40px;
}
/* About Me Styling */
.profile-pic {
  border-radius: 40px;
  margin: 0 0 40px 40px;
}
.about-info {
  margin: 0 0 40px 40px;
}

/* Portfolio Styling */
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: space-around;
  margin-bottom: 40px;
}
.card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  margin-top: 20px;
}

.card .name {
  position: absolute;
  display: flex;
  flex-direction: row;
  z-index: 2;
  display: none;
}

.card:hover .name {
  display: flex;
}

.card .main {
  height: 100%;
  width: 100%;
  transition: filter 0.3s;
  display: block;
}
.card:hover .main {
  /* Semi-transparent background color (adjust the alpha value to control opacity) */
  filter: blur(7px);
}

/* Footer Styling */
footer {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 768px){
    .title {
        flex-direction: column;
        align-content: center;
    }
}