#root {
    background-color: rgb(75, 199, 244);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Heading Styling */
.title {
  background-image: url("/images/images.jpeg");
  background-position: center center;
  padding: 40px;
  display: flex;
  flex-direction: row;
  justify-content: right;
}

.title h1 {
  margin-right: auto;
  color: rgb(75, 199, 244);
}
.nav-item .nav-link{
  font-size: larger;
  font-style: italic;
  color: orange;
}
.nav-item .nav-link-active {
  text-decoration: none;
  font-size: larger;
  font-style: italic;
  color: white;
}

.page-title {
  margin: 40px;
}
/* About Me Styling */
.profile-pic {
  border-radius: 40px;
  margin: 0 0 40px 40px;
}
.about-info {
  margin: 0 0 40px 40px;
}

/* Portfolio Styling */
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: space-around;
  margin-bottom: 40px;
}
.card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  margin-top: 20px;
}

.card .name {
  position: absolute;
  display: flex;
  flex-direction: row;
  z-index: 2;
  display: none;
  
}
.card .name h4 {
  color: orange;
}
.card .name a {
  text-decoration: none;
}

.card:hover .name {
  display: flex;
}

.card .name h4:hover {
color: purple;
}

.card .name img:hover {
  filter: grayscale(0);
}

.card .main {
  height: 100%;
  width: 100%;
  transition: filter 0.3s;
  display: block;
}
.card:hover .main {
  filter: blur(7px);
}

/* Contact Styling */

.container {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}
.container .form {
  display: flex;
  flex-direction:column;
  align-items: flex-start;
}
.container .form h6 {
  margin-top: 10px;
}

.container .form input {
  width: 500px
}
.container .form .message {
  padding-bottom: 50px;
  margin-bottom: 5px;
}
.container .form button {
  width: 500px;
  border-radius: 7px;
}

/* Resume Styling */
.resume-link {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    color: white;
    font-weight: bold;
}
.profeciencies {
    margin: 0 0 40px 40px;
}
/* Footer Styling */
footer {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 768px){
    .title {
        flex-direction: column;
        align-content: center;
    }
}